* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #373F42;
    overflow-x: hidden;
}

/* comienzo header */

.header_logo {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.div_logo {
    width: 80px;
    height: auto;
    margin-left: 20px;
}

.logo {
    width: 100%;
    height: auto;
}

.carroDecompras {
    width: 120px;
    height: 60px;
    background: #373F42;
    color: blanchedalmond;
    border-radius: 10px;
    border: 1px solid gray;
    outline: none;
}

.carroDecompras:hover {
    background-color: rgb(47, 180, 174);
    color: #212121;
}

/* fin header */

/* seccion portada */

.portada {
    max-width: 100%;
    height: 300px;
    position: relative;
    background-image: url(banner.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 60px;
}

/* fin portada */

/* seccion barra principal */

.barra_principal {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

/* fin seccion barra */

/* inicio aside */

.aside_principal {
    /* flex-grow: 2; */
    flex: 2;
    margin: 5px;
    padding: 10px;
    color: white;
}

/* barra de busqueda  y filtros*/

.filtros_limpiar {
    margin: 35px 0;
}

.filtro_titulo {
    margin-top: 10px;
}

#filtrar {
    border-radius: 2px;
    height: 30px;
    border: none;
    margin-top: 5px;
    -webkit-box-shadow: -4px -4px 14px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px -4px 14px -4px rgba(0, 0, 0, 0.75);
    box-shadow: -4px -4px 14px -4px rgba(0, 0, 0, 0.75);
    ;
}

.botonLimpiar {
    height: 35px;
    width: 70px;
    border-radius: 10px;
    background: #373F42;
    color: blanchedalmond;
    border: none;
}

.barra_Busqueda {
    background-color: #e0e8eb;
}

.fa-search {
    color: #252222;
    position: relative;
    right: 25px;
}

/* estrellas amarillas */

.review {
    color: #fbc02d;
    margin: 5px 0;
}

.fitro_productos_aside, .barra_buqueda--p {
    margin: 5px 0;
}

.aside_p1, .aside_p2 {
    padding: 20px 0;
}

.filtros_limpiar {
    display: flex;
    justify-content: space-between;
}

/* fin aside */

/* inicio tarjetas */

.contenido_principal {
    display: flex;
    flex-wrap: wrap;
}

.barra_principal {
    margin: 5px;
    padding: 50px;
    font-size: 20px
}

.contenedor_barra {
    flex: 8;
}

#vista_grid, #vista_lista, .btnFiltro {
    background: none;
    border: none;
    font-size: 25px;
    margin: 5px;
}

.contenedor_tarjetas_padre {
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 5px;
}

.contenedor_tarjetas {
    flex-basis: 1100px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tarjetasProductos {
    margin: 5px;
    border: 1px solid rgb(243, 240, 240);
    border-radius: 5px 5px 0 0;
    padding: 20px;
    width: 332px;
    height: 530px;
}

.ampliarTarjeta {
    display: flex;
    margin: 5px;
    border: 1px solid rgb(243, 240, 240);
    border-radius: 5px 5px 0 0;
    padding: 20px;
    width: 900px;
    height: auto;
}

.div_imagen_producto {
    width: 290px;
    height: 290px;
    background-color: white;
    border-radius: 5px 5px 0 0;
    padding: 20px;
    overflow: hidden;
    /* position: relative; */
}

.no-center {
    text-align: center;
}

.producto {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
    transition: all 0.2s ease-in;
}

.producto:hover {
    transform: scale(1.8);
    filter: opacity(0.7);
}

h2, .price .estrellas {
    margin: 10px 0;
}

.comprar {
    width: 150px;
    padding: 10px;
    background-image: linear-gradient(to top, #190537, #23095f, #2a0b8a, #2a0db9, #1b12eb);
    border-radius: 40px;
    border: none;
    margin: 30px;
    color: white;
}

.comprar:hover {
    background: #fbc02d;
    color: #212121;
    box-shadow: 0 0 2px #000
}

/* fin tarjetas */

/* inicio footer */

.footer_seccion {
    background-color: white;
    text-align: center;
    padding: 30px;
}

.footer_parrafo {
    font-size: 30px;
}

/* fin footer */

/* css seccion carrito */

/* seccion carrito vacio */

.contenedor_titulo {
    display: flex;
    justify-content: space-between;
    /* padding: 5%; */
}

.carrito_vacio--p {
    margin-top: 10px;
}

.cerrar {
    font-size: 20px;
}

.overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    z-index: 1;
}

.overlay-3 {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    z-index: 3;
}

/* fin carrito_vacio */

/* comienzo de carro de compras con productos */

.carrito_productos {
    width: 390px;
    max-width: 100%;
    height: 100vh;
    background-color: rgb(248, 252, 248);
    padding: 1%;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    transform: translate(0, 0);
    transition: all 1.5s;
}

.ocultar_modal {
    transform: translate(100%);
}

.articulos_anadidos {
    border: 2px rgb(241, 240, 240) solid;
    width: auto;
    margin: 10px;
    height: 300px;
}

.btn_comprar_carrito, .btn_vaciar_carrito {
    width: 100%;
    height: 7%;
    max-height: 10%;
    border-radius: 5px;
    margin: 5px;
}

.btn_comprar_carrito {
    background-color: blue;
    color: blanchedalmond;
}

.btn_vaciar_carrito {
    background-color: #fff;
}

/* comienzo checkout de compra final */

.contenedor_principal {
    width: 850px;
    max-width: 100%;
    background: #f6f6f6;
    margin: 50px auto;
    margin-top: 0;
    /* display: none; */
    flex-wrap: wrap;
    z-index: 4;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    height: 100vh;
}

.ventana_carrito_compra {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    background: #f6f6f6;
}

.formulario {
    width: 350px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    border-radius: 5px;
}

.div_resumen_total {
    width: 290px;
    height: 480px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    background-color: rgb(235, 231, 231);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.seccion_calculos {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}

.textotc, .textoDescuento, .textoEnvio, .total, .subtotal_carrito {
    position: relative;
    margin: 3px;
}

.total {
    font-size: 25px;
    font-weight: 700;
}

.textotc {
    color: darkred;
}

.textoDescuento {
    color: green;
}

.contenedorDeValores {
    position: absolute;
    right: 0px;
}

.titulo_carrito {
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.7);
}

.formulario_input {
    display: block;
    border: none;
    border-bottom: 2px solid gray;
    margin: 20px;
    padding: 10px;
    background-color: #f6f6f6;
}

.linea {
    margin: 70px 0;
}

.contenedor_botones_checkout {
    background: #f6f6f6;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

/* botones */

.finalizar_compra {
    background-color: gray;
    color: lavenderblush;
    padding: 10px;
    margin: 10px;
    background-color: blue;
    width: 200px;
    border-radius: 5px;
    border: none;
}

.finalizar_compra:hover {
    background-color: rgb(146, 146, 37);
    color: black;
}

.seguir_compra {
    background-color: gray;
    color: rgb(41, 41, 48);
    padding: 19px;
    margin: 10px;
    background-color: white;
    width: 200px;
    border-radius: 5px;
    border: none;
}

.resumen_carrito {
    /* margin-bottom: 425px; */
    font-weight: 900;
    font-size: 20px;
}

.pagos {
    margin: 5px;
}

/* seccion carrito */

/* modal vaciar carrito */

.modal_vaciar_carrito {
    width: 500px;
    max-width: 100%;
    height: 300px;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    right: 40%;
    left: 35%;
    top: 20%;
    z-index: 5;
}

.texto_modal_carrito_vacio {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}

.botones_modal {
    display: flex;
    justify-content: center;
}

.btn_modal_novaciar {
    width: 170px;
    height: 50px;
    font-size: 15px;
    margin: 60px 5px;
    border: 1px black solid;
    background-color: white;
    border-radius: 5px;
}

.btn_modal_vaciar {
    width: 170px;
    font-size: 15px;
    height: 50px;
    margin: 60px 5px;
    background-color: rgb(194, 49, 49);
    color: white;
    border: none;
    border-radius: 5px;
    z-index: 5;
}

/* javascript clases */

.hidden {
    display: none;
}

.ocultar {
    display: none;
}

.columna {
    flex-direction: column;
}

.no-scroll {
    overflow: hidden;
}

.filtro_contenedor {
    display: none;
}

.cerrar_filtros {
    display: none;
}

/* media queris */

/*(min-width: 576px) and (max-width: 767.98px)*/

@media (max-width:850px) {
    .modal_vaciar_carrito {
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
    }
    .filtro_contenedor {
        display: block;
    }
    .tipo_de_vista {
        display: none;
    }
    .aside_principal {
        background-color: rgba(37, 36, 36, 0.986);
        display: block;
        max-width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 2;
        transform: translate(100%);
        transition: all 1s;
    }
    .mostrarFiltros {
        transform: translate(0.0);
    }
    .cerrar_filtros {
        display: block;
        position: fixed;
        right: 0;
        top: 0;
        margin: 15px;
        font-size: 25px;
        background: none;
        border: none;
        color: white;
    }
    .botonLimpiar {
        background: none;
    }
}

@media ( max-width: 650px) {
    .carrito_productos {
        max-width: 100%;
        position: fixed;
        padding: 10px;
    }
    .contenedor_principal {
        max-width: 100%;
        position: absolute;
        right: 0%;
        left: 0%;
        top: 0%;
        flex-direction: column;
        overflow-y: scroll;
    }
    .ventana_carrito_compra {
        flex-direction: column;
    }
    .contenedor_botones_checkout {
        flex-direction: column;
    }
    .div_resumen_total {
        max-width: 100%;
        width: 290px;
        height: 180px;
        overflow-y: scroll;
    }
    .contenedor_botones_checkout {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* .aside_principal{
        position: fixed;
        left: 0;
        bottom: 0;
        height: 100%;
        overflow-y: scroll;
 
    } */
}

@media (max-width: 350px) {
    .carrito_productos {
        height: 100%;
        position: fixed;
        padding: 10px;
    }
    .contenedor_principal {
        width: 100%;
        position: fixed;
        height: 100%;
        flex-direction: column;
        overflow-y: scroll;
    }
    .modal_vaciar_carrito {
        width: 100%;
        height: 100%;
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
    }
    .aside_principal {
        position: fixed;
        left: 0;
        bottom: 0;
        height: 100%;
        overflow-y: scroll;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/

/*@media (min-width: 1200px) 

/* Large devices (desktops, 992px and up)*/

/*@media (min-width: 992px) and (max-width: 1199.98px) 

/* Medium devices (tablets, 768px and up)*/

/*@media (min-width: 768px) and (max-width: 991.98px) 

/* Small devices (landscape phones, 576px and up)*/

/*@media (min-width: 576px) and (max-width: 767.98px) { ... }

/* Extra small devices (portrait phones, less than 576px)*/

/*@media (max-width: 575.98px)
*/