*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #373F42;
}

 /* comienzo header */
.header_logo{
    background-color:white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


.div_logo{
    width: 60px;
    height: auto;
    margin-left: 20px;

}
.logo{
    width: 100%;
    height: auto;

}
.header_p{
    margin-right: 30px;
    font-size: 20px;
    margin-top: 20px;
}

/* fin header */

/* seccion portada */
.imagen{
    width: auto;
    height: auto;
    position: relative;
    display: inline-block;
    text-align: center;

}


.cabecera_p{
  position: absolute;
  font-size: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

img{
    width: 100%;
    height: auto;

}
/* fin portada */


/* seccion barra principal */
.barra_principal{
    display: flex;
    justify-content: space-between;
    background-color: white;
}




/* fin seccion barra */

/* inicio aside */
.aside_principal{
    background-color: #373F42;
    /* flex-direction: column;
     */
     /* flex-grow: 2; */
     flex: 2;
     margin: 5px;
  padding: 10px;
  color: white;

}

/* barra de busqueda */
.filtros_limpiar{
    margin: 30px 0;

}
.barra_buqueda--p{
    margin: 15px 0;
}

.barra_Busqueda{


    border-bottom: 3px solid rgb(94, 82, 82);

}

/* estrelleas amarillas */
.fas.fa-star , .far.fa-star{
    color: #fbc02d;
    margin: 5px 0;

}

.fitro_productos_aside , .barra_buqueda--p  {
    margin: 5px 0;
}

.aside_p1, .aside_p2{
    padding: 20px 0;
}

.filtros_limpiar{
    display: flex;
    justify-content: space-between;
}
/* fin aside */


/* inicio tarjetas */
.contenido_principal{
  display: flex;
  flex-wrap: wrap;
  
 



}

.barra_principal{
    margin: 5px;
  
    padding: 50px;
    font-size:20px
    

}
.contenedor_segundo--tarjetas{
    flex: 8;
    
   
   
}

.contenedor_tarjetas_padre{
    background-color: white;
     display: flex;
     
    justify-content: center;
    
   
    margin: 5px;
    padding: 10px;
    
    






} 

.container_cards{
     /* background-color:red ;  */
    flex-basis: 1000px;
    height: auto;

     display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
  
   
 


}


.card{
     /* background-color: blueviolet; */
     border: 1px solid rgb(243, 240, 240);
     flex: 1 1 320;
     display: flex;
     justify-content: center;
     margin: 5px;
    border-radius: 10px;
    padding: 10px;
  
 
    
    

}

.tarjetas{
 background-color: white;
 

}

.div_imagen_producto{
    width: 300px;
    height: 300px;
    background-color: white;
}

.descipcion_producto{
    text-align: center;

}


.producto{
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0px 0;
}

h2 , .price .estrellas{
    margin: 10px 0;
}

.comprar{
    width: 150px;
    padding: 10px;
    background-image: linear-gradient(to top, #190537, #23095f, #2a0b8a, #2a0db9, #1b12eb);
    border-radius: 40px;
    border: none;
    margin: 10px;
    color:white;
}


.comprar:hover{
    background: #fbc02d;
    color: #212121;
    box-shadow: 0 0 2px #000
    
    
}
/* fin tarjetas */


/* inicio footer */
.footer_section{
    background-color: white;
    text-align: center;
    padding: 30px;
}

.footer_p{
    font-size: 30px;

}

/* fin footer */